/* cSpell:disable */
body {
    font-family: sans-serif;
}


h1 {
    color: darkred;
    text-align: center;
}


p {
    text-align: justify; /* Alineación justificada */
    text-transform: lowercase; /* Texto del parrafo en minúsculas */
    font-size: 25px;
    font-style: italic; /* Estilo del texto */
    font-weight: bold; /* Negrita */
    text-indent: 40px; /* Identación */
    line-height: 1.7; /* Interlineado */
    word-spacing: 10px; /* Espaciado entre palabras */
    text-shadow: 4px 3px 2px rgba(65, 105, 225, 0.5); /* Sombra [→, ↓, opacidad] */
}


a {
    text-decoration: none;
    text-transform: capitalize; /* Primera letra en mayúscula */
    font-size: 20px;
    letter-spacing: 3px; /* Espaciado entre letras */
}

a:hover {
    text-decoration: underline;
}