
body {
    font-family: Arial;
}


table, th, td {
    border: 1px solid black;
}


table {
    border-collapse: collapse;
    width: 500px;
    text-align: center;
}


th, td {
    padding: 10px;
}


th {
    background-color: rgba(0, 0, 255, 0.75);
    color: white;
}


tr:hover {
    background-color: rgba(0, 0, 255, 0.25);
}