.menu {
    background-color: #13a4a4;
}


.menu_nav {
    list-style: none; /* Modifica el estilo de la lista */
}


.menu_nav_item {
    display: inline-block; /* Transforma la lista en una fila */
}


/*-----------------------------------------------
    Modificando los enlaces de le etiqueta dada,
    que comienzan con la "a".
-----------------------------------------------*/
.menu_nav_item a { 
    color: white;
    text-decoration: none; /* Elimina el estilo por defecto */
}
/*---------------------------------------------*/


/* -------------- SEUDO CLASES -------------- */
.menu_nav_item a:active {
    color: chartreuse; /* Modifica el color al clickear */
}

.menu_nav_item a:hover { /* Modifica el color al pasar por encima*/
    color: red;
}
/*--------------------------------------------*/


/* ------------- SEUDO ELEMENTOS ------------- */
.menu_nav_item a::after { /* Agrega un texto luego de cada elemento */
    content: " | "; 
}
/* ------------------------------------------- */