/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */

body {
	font-family: Arial;
}

/* -------------------------------------------------------------------------- */
/*                                  ETIQUETAS                                 */
/* -------------------------------------------------------------------------- */

ol {
	list-style: lower-roman;
}

ul {
	list-style: square;
}
