/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */

* {
	padding: 0px;
	margin: 0px;
}

/* -------------------------------------------------------------------------- */
/*                             CONTENIDO PRINCIPAL                            */
/* -------------------------------------------------------------------------- */

.box {
	margin: 20px;
	width: 200px;
	height: 200px;
	background-color: royalblue;
}

.box-parent {
	margin: 20px;
	width: 500px;
	height: 500px;
	position: relative;
	background-color: lightseagreen;
}

.position {
	position: absolute;
	background-color: lightcoral;
}
