/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */

body {
	font-family: Arial;
}

/* -------------------------------------------------------------------------- */
/*                                  ETIQUETAS                                 */
/* -------------------------------------------------------------------------- */

table,
th,
td {
	border: 1px solid black;
}

table {
	width: 500px;
	text-align: center;
	border-collapse: collapse;
}

th,
td {
	padding: 10px;
}

th {
	color: white;
	background-color: rgba(0, 0, 255, 0.75);
}

tr:hover {
	background-color: rgba(0, 0, 255, 0.25);
}
