/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */

body {
	/* Modifica todos los elementos de la caja */
	color: blue;
}

/* -------------------------------------------------------------------------- */
/*                                  ETIQUETAS                                 */
/* -------------------------------------------------------------------------- */

h1,
h2 {
	/* Modifica más de un elemento */
	color: red;
}

/* -------------------------------------------------------------------------- */
/*                             CONTENIDO PRINCIPAL                            */
/* -------------------------------------------------------------------------- */

/*---------------------------------------------------------
    [X] Modifica elementos específicos por Ids.
    - El elemento puede tener un único Id.
---------------------------------------------------------*/

#Subtittle {
	color: aqua;
}

/*---------------------------------------------------------
    [X] Modifica elementos específicos por clases.
    - El elemento puede tener más de una clase asignada.
---------------------------------------------------------*/

.p1 {
	color: brown;
}

.p2 {
	font-size: 24px;
	color: purple;
}
