
/* -------------------------------------------------------------------------- */
/*                                 Encabezado                                 */
/* -------------------------------------------------------------------------- */

.menu {
    background-color: #13a4a4;
}

.menu-nav {
    list-style: none; /* Modifica el estilo de la lista */
}

.menu-nav-item {
    display: inline-block; /* Transforma la lista en una fila */
}

/*-----------------------------------------------
    Modifica los enlaces de las clases, que
    se encuentran dentro de la misma.
-----------------------------------------------*/

.menu-nav-item a { 
    color: white;
    text-decoration: none; /* Elimina el estilo por defecto */
}

/* Seudo Clases */
.menu-nav-item a:active { /* Modifica el color al clickear */
    color: chartreuse; 
}

.menu-nav-item a:hover { /* Modifica el color al pasar por encima */
    color: red;
}

/* Seudo Elementos */
.menu-nav-item a::after { /* Agrega un texto luego de cada elemento */
    content: " | "; 
}